.container {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 5% 40% 55%;
    grid-template-areas: 
   'left-panel main right-panel';
    height: 100vh;
 }
 #left-panel {
   grid-area: left-panel;
   border-right: 1px solid #f1f1f1;
 }
 #main {
   grid-area: main;
   border-right: 1px solid #f1f1f1;
   padding: 0 25px;
 }
 #right-panel {
    grid-area: right-panel;
 }
 #main {
    overflow: auto;
 }
 #right-panel {
    overflow: auto;
 }